<!DOCTYPE html>
<html>
  <%- include('includes/head') %>
  <body>
    <h1>MAREÉ CREPE</h1>

    <div class="banner">
      <h2>TEMPORADA</h2>
      <p>2x1 en Crepas Dulces</p>
      <small>Todos los martes lleva dos crepas dulces por el precio de una</small>
    </div>

    <div style="text-align:center;">
      <a href="/menu" class="btn-app">Arma tu Crepa</a>
      <a href="/fidelidad" class="btn-app">Rewards</a>
      <a href="/admin" class="btn-app">Favoritos</a>
    </div>

    <%- include('includes/footer') %>
  </body>
</html>
